body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.weather-app {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: red;
  font-weight: 100;
  line-height: 50px;
  margin: 0;
}

h2 {
  text-align: center;
  color: green;
  font-size: 20px;
  padding: 0;
}
#input-form {
  display: flex;
  width: 100%;
}

#weather-now {
  text-align: center;
}
